ul.tree-menu {
	padding-top: 0px;
	margin-top: 0px;
	padding-left: 0px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
ul.tree-menu ul{
	margin-left: 0px;
	padding-left: 20px;
	margin-top: 0px;
}
ul.tree-menu ul li a{
	margin-left: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-bottom: 5px;
	border: none;
}
ul.tree-menu ul li a:hover {
	text-decoration: underline;
	color: #8dc63f;
}
.title1 {
	display: block;

}

ul.tree-menu li {
	list-style-type: none;
	margin-left: 0px;
	margin-bottom: 6px;
}
ul.tree-menu li a {
	list-style-type: none;
	margin-left: 0px;
}
ul.tree-menu li.section {
	background-image: url("/images/folder.gif");
	background-repeat: no-repeat;
	background-position: top left;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-left: 0px;
}
ul.tree-menu li.section-open {
	background-image: url("/images/folder-open.gif");
	background-repeat: no-repeat;
	background-position: top left;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-left: 0px;
}
ul.tree-menu li.box {
	background-image: url("/images/doc.gif");
	background-repeat: no-repeat;
	background-position: top left;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-left: 0px;
	margin-top: 5px;
}
ul.tree-menu a {
	text-decoration: none;
	white-space: nowrap;
	line-height: 2.5em;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E1E1E1;
	width: 100%;
	padding-bottom: 8px;
}
ul.tree-menu a:hover {
	white-space: nowrap;
	margin-left: 0px;
	color: #8dc63f;
}
.results {
	list-style-type: none;
	margin-left: 0px;
	padding-left: 0px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
.results li   a{
	padding-left: 0px;
	margin-left: 0px;
	list-style-type: none;
	line-height: 1.8em;
}
.results li   a:hover {
	color: #8dc63f;
}
#active {
	width: 100%;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E1E1E1;
	padding-bottom: 9px;
}
