<!-- 1-8/12 -->
body {
	margin: 0px;
	background-image: url(/images/bgradient_01.jpg);
	background-repeat: repeat-x;
	background-position: top;
}
a {
	color: #666;
	text-decoration: none;
}
.error {
	color: red;
}
a:hover {
	text-decoration: underline;
}
#threeboxcontainer {
	border: 1px solid #e8e7e7;
	width: 911px;
	height: 183px;
	margin-right: auto;
	margin-left: 45px;
}
#calendarcont {
	width: 700px;
	margin-top: 30px;
	margin-bottom: 75px;
	height: 275px;
	overflow: hidden;
	background-repeat: repeat-x;
	background-position: bottom;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-bottom-style: solid;
	border-top-color: #E5E5E5;
	border-right-color: #E5E5E5;
	border-bottom-color: #E5E5E5;
	border-left-color: #E5E5E5;
}
#box1 {
	background-image: url(/images/box_15.gif);
	background-repeat: no-repeat;
	height: 145px;
	width: 277px;
	float: left;
	margin-top: 18px;
	margin-left: 16px;
	margin-right: 24px;
}
.boxpic1 {
	float: left;
	height: 132px;
	width: 118px;
	margin-top: 6px;
	margin-left: 8px;
	overflow: hidden;
	
}
.box1text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	width: 137px;
	overflow: hidden;
	padding-top: 20px;
	padding-right: 5px;
	padding-left: 5px;
	color: #6d6e71;
	max-height: 100px;
}
.moreinfo {
	margin-top: 6px;
	padding-left: 5px;
	margin-left: 127px;
}
.moreinfo a {
	color: #8dc63f;
	text-decoration: none;
	font-size: 10px;
	
}
.spanish {
	margin-right: 10px;
	font-weight: bold;
	color: #666;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

#contentoppadding {
	padding-top: 15px;
	padding-right: 10px;
}
.moreinfo a:hover {
	text-decoration: underline;
}
.namesig {
	font-weight: bold;
	border-top-width: 1px;
	border-top-style: none;
	border-top-color: #D9D9D9;
	border-right-color: #D9D9D9;
	border-bottom-color: #D9D9D9;
	border-left-color: #D9D9D9;
	margin-top: 10px;
	padding-top: 5px;
	font-family: "Times New Roman", Times, serif;
	font-size: 12px;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	color: #84BC38;
	padding-left: 5px;
}
#calendarleft {
	float: left;
	width: 290px;
	height: 275px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #E5E5E5;
	padding-right: 10px;
	text-align: right;
	background-image: url(/images/greygradient2_20.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
}
.calendardate {
	font-size: 11px;
	font-weight: bold;
	color: #00769D;
	padding-bottom: 5px;
	padding-top: 5px;
}
.regtext {
	font-weight: normal;
	font-size: 11px;
}
.clicktoview {
	float: left;
	height: 21px;
	width: 96px;
	margin-right: 15px;
}
.clicktext {
	margin-left: 106px;
	height: 18px;
	padding-top: 3px;
}
#oneminutecontainer {
	border-bottom-width: 1px;
	border-bottom-style: dashed;
	padding-bottom: 8px;
	padding-top: 8px;
	border-bottom-color: #e4e4e4;
}

#calendarright {
	margin-left: 305px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}
#calendarright strong {
	color: #333;
}
#calendarright ul {
	margin-left: 0px;
	padding-left: 20px;
}
#calendarright li {
	list-style-type: disc;
	margin-left: 0px;
}
.calendartitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #84BC38;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E5E5E5;
}
.texttestimonial {
	font-family: "Times New Roman", Times, serif;
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
	padding-top: 13px;
	padding-bottom: 13px;
	padding-left: 15px;
	padding-right: 15px;
	border: 1px solid #CCC;
	background-image: url(/images/greengradient_20.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
}
#testimonialcont {
	width: 700px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	margin-bottom: 50px;
}
.welcometext {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 32px;
	color: #6d6e71;
	width: 911px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	background-image: url(/images/topshadow_08.png);
	background-repeat: no-repeat;
	background-position: bottom;
	min-height: 22px;
	padding-bottom: 10px;
	font-weight: bold;
	font-style: normal;
	text-align: left;
}

.moreinfo2 {
	margin-top: 2px;
	width: 75px;
}
.middelline {
	background-image: url(/images/middleline_41.gif);
	background-repeat: no-repeat;
	float: left;
	height: 205px;
	width: 8px;
	margin-left: 63px;
	margin-right: 63px;
}

.moreinfo2 a {
	color: #8dc63f;
	text-decoration: none;
	font-size: 10px;
	
}
.moreinfo2 a:hover {
	text-decoration: underline;
}
#boxshadow {
	background-image: url(/images/box3shadow_37.jpg);
	background-repeat: no-repeat;
	background-position: top;
	height: 35px;
	width: 911px;
	margin-left: auto;
	margin-right: auto;
}





#maincontainer {
	width: 997px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	background-image: url(/images/greentop_02.gif);
	background-repeat: no-repeat;
	background-position: center top;
	padding-top: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
}
.clearfloat {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
#topcontainerleft {
	float:left;
	margin-left: 740px;
	margin-top: 12px;
}
#topcontainercenter {
	background-image: url(/images/cart_07.gif);
	background-repeat: no-repeat;
	background-position: right center;
	float: left;
	width: 4%;
	margin-left: 17px;
	margin-top: 12px;
}
#topshadow {
	background-image: url(/images/topshadow_07.png);
	background-repeat: repeat;
	background-position: top;
	height: 22px;
	width: 911px;
	margin-right: auto;
	margin-left: auto;
}
#topcontainerright {
	float: left;
	width: 95px;
	margin-left: 70px;
	margin-right: 0px;
	padding-right: 0px;
}
#btmshadow {
	background-image: url(/images/btmshadow_12.png);
	height: 39px;
	width: 911px;
	margin-right: auto;
	margin-left: auto;
	background-position: bottom;
	background-repeat: no-repeat;
	display: block;
}
#topcontainer2 {
	display: inline;
	width: 100%;
	position: relative;
	padding-top: 5px;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}


#navcontainer {
	clear: right;
	margin-top: 30px;
	margin-right: 25px;
}
.boxtext4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #8dc63f;
	width: 298px;
	overflow: hidden;
	padding-top: 6px;
	padding-bottom: 5px;
}
.text4container {
	width: 298px;
	overflow: hidden;
	padding-top: 2px;
	max-height: 50px;
	margin-bottom: 8px;
}


#topcontainer {
	background-image: url(/images/newspirit_05.gif);
	background-repeat: no-repeat;
	background-position: top;
	min-height: 81px;
}
#boxcontainer2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	margin-right: auto;
	margin-left: auto;
	color: #6d6e71;
	width: 794px;
	padding-left: 117px;
}
#shadow4 {
	background-image: url(/images/shadow4_37.jpg);
	background-repeat: no-repeat;
	background-position: top;
	height: 35px;
	width: 911px;
	margin-left: auto;
	margin-right: auto;
}


#box2 {
	background-image: url(/images/box_15.gif);
	background-repeat: no-repeat;
	height: 145px;
	width: 277px;
	float: left;
	margin-top: 18px;
	margin-right: 22px;
}
#box3 {
	background-image: url(/images/box_15.gif);
	background-repeat: no-repeat;
	height: 145px;
	width: 277px;
	float: left;
	margin-top: 18px;
}
#box4 {
	float: left;
}
#box5 {
	float: left;
}
.imgbox1 {
	height: 118px;
	width: 298px;
	border: 1px solid #cfcfcf;
	overflow: hidden;
}
#shadow5 {
	background-image: url(/images/shadow5_49.jpg);
	background-repeat: no-repeat;
	background-position: top;
	height: 28px;
	width: 912px;
	margin-right: auto;
	margin-left: auto;
}
#mediabox {
	height: 67px;
	width: 911px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 19px;
}
#twitterbox {
	margin-left: 302px;
	width: 116px;
	height: 67px;
	float: left;
}
.mediaimg {
	float: left;
}
.mediatext {
	margin-left: 44px;
	padding-left: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #575757;
	padding-top: 7px;
}
.twitter {
	margin-left: 44px;
	padding-left: 3px;
}
.twitter a {
	color: #3fbcde;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
}
.twitter a:hover {
	color: #79CFE8;
	text-decoration: underline;
}
#footercontainer {
	width: 100%;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #b3b3b3;
	min-height: 150px;
	background-color: #e1e1df;
	padding-bottom: 30px;
}

.facebook {
	margin-left: 44px;
	padding-left: 3px;
}
.facebook a {
	color: #4064b8;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
}
.facebook a:hover {
	color: #7691CF;
	text-decoration: underline;
}
.youtube {
	margin-left: 44px;
	padding-left: 3px;
}
.youtube a {
	color: #dd2828;
	text-align: left;
	text-decoration: none;
	font-weight: bold;
}
.youtube a:hover {
	color: #E45A5A;
	text-decoration: underline;
}
#facebookbox {
	margin-left: 25px;
	width: 116px;
	height: 67px;
	float: left;
}
#youtubebox {
	margin-left: 25px;
	width: 116px;
	height: 67px;
	float: left;
}
.h5 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #84BC38;
	overflow: hidden;
	display: block;
	margin-bottom: 3px;
}
#breadcrumb {
	float: left;
	width: 80%;
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
	margin-top: 10px;
}
#breadcrumb a {
	padding-right: 5px;
	padding-left: 5px;
}
#categorybox {
	font-size: 26px;
	font-weight: bold;
	height: 39px;
	background-image: url(/images/categorybg_12.jpg);
	background-repeat: repeat-x;
	border: 1px solid #d6d4d4;
	float: left;
	width: 99%;
	margin-top: 15px;
	padding-top: 7px;
	padding-left: 1%;
	margin-bottom: 15px;
	font-family: Arial, Helvetica, sans-serif;
	color: #666;
}
#bodyrightside {
	margin-left: 202px;
	width: 743px;
	padding-left: 13px;
	font-size: 12px;
	padding-right: 20px;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #E1E1E1;
}
#bodyleftside {
	width: 185px;
	float: left;
	padding-left: 10px;
	padding-top: 0px;
	margin-top: 0px;
	padding-right: 5px;
	padding-bottom: 100px;
}
#breadcrumb a:hover {
}
#bodycontainer {
	margin-top: 15px;
	padding-right: 20px;
	padding-left: 20px;
}
#perpage {
	float: left;
	width: 20%;
	text-align: right;
	margin-top: 10px;
}
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #6d6e71;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 15px;
}
h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #6d6e71;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
}
h3 {
	font-size: 18px;
	color: #7aae32;
	margin-bottom: 5px;
	padding-top: 20px;
}
.bottompadding {
	height: 100px;
	display: block;
	min-height: 150px;
	float: left;
	clear: both;
}
.teamleft {
	float: left;
	height: 275px;
	width: 250px;
}
.teamright {
	margin-left: 250px;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
}
.distributorheader {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	color: #6d6e71;
	margin-top: 15px;
	display: block;
	margin-left: 15px;
}
#distributorsmallcontainer {
	float: left;
	width: 266px;
	margin-left: 20px;
	margin-right: 10px;
	margin-top: 6px;
}
#distsmallpic {
	height: 130px;
	width: 105px;
	float: left;
}
.distributorprodname {
	font-family: Arial, Helvetica, sans-serif;
	color: #7ba53b;
	text-align: center;
	font-weight: bold;
	font-size: 12px;
	padding-top: 4px;
	padding-bottom: 2px;
}
.distributorprodtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-align: center;
	padding-top: 3px;
	font-weight: normal;
	color: #666;
}
#distributorsmallbox {
	margin-left: 105px;
	padding-bottom: 5px;
	margin-top: 20px;
	background-repeat: no-repeat;
	width: 161px;
	height: 104px;
	padding-top: 7px;
	background-image: url(/images/distributorgradient.jpg);
	margin-bottom: 15px;
}
.distributorprodprice {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	margin-top: 10px;
	color: #666;
}
.distributormoreinfo {
	text-align: center;
	margin-top: 5px;
}



#teamcontainer {
	margin-bottom: 45px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E0E0E0;
	padding-bottom: 35px;
	min-height: 325px;
	background-repeat: repeat-x;
	background-position: bottom;
	background-image: url(/images/greybg2_22.jpg);
}
.heading1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: bold;
	color: #84BC38;
	text-transform: uppercase;
}



.picrightpadding {
	padding-right: 10px;
}
.picleftpadding {
	padding-left: 10px;

}
.teamright2 {
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	float: left;
	width: 475px;
}
.teamleft2 {
	width: 230px;
	height: 275px;
	margin-left: 500px;
}
#distrbutorcontainer {
	height: 326px;
	width: 898px;
	margin-right: auto;
	margin-left: auto;
	background-repeat: no-repeat;
	padding-top: 10px;
	padding-left: 15px;
	background-image: url(/images/distributormainbg.jpg);
}
.formgrey {
	background-color: #EFEFEF;
	font-weight: bold;
	padding-left: 5px;
	border: 1px solid #CCC;
}
.text ul {
}
.text li {
	list-style-type: disc;
	line-height: 2em;
}
.calendartime {
	font-size: 11px;
	font-weight: bold;
	color: #00769D;
	padding-bottom: 5px;
	padding-top: 0px;
}

.rsvp {
	font-size: 11px;
	font-weight: bold;
	color: #00769D;
	padding-bottom: 5px;
	padding-top: 0px;
	margin-top: 10px;
}
.rsvp a{
	color: #00769D;
	font-size: 11px;
}
.rsvp a:hover{
	text-decoration: underline;
}
#pdfcontainer {
	margin-top: 8px;
}

#newslettercont {
	width: 700px;
	margin-top: 40px;
	margin-bottom: 40px;
	height: 310px;
	overflow: hidden;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #E5E5E5;
}
.newsletterpic {
	padding: 5px;
	border: 1px solid #E5E5E5;
}
#newsletterright {
	margin-left: 300px;
	padding-left: 40px;
	padding-right: 10px;
}
.calendarpic {
	padding: 3px;
	margin-left: 5px;
	border: 1px solid #CCC;
	float: right;
}
#newsletterleft {
	float: left;
	width: 290px;
	height: 310px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #E5E5E5;
	padding-right: 10px;
	text-align: right;
	background-image: url(/images/greygradient2_20.jpg);
	background-repeat: repeat-x;
	background-position: bottom;
}
#distributorboxcontainer {
	border: 3px double #e8e7e7;
	width: 911px;
	margin-right: auto;
	margin-left: 45px;
}
